.playgame-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .chessboard-and-eval{
        display: flex;
        gap: 1vw;
        flex-direction: column;
        align-items: center;
    }

    .chessboard-menu-position{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5vw;
    }

    .engineSpinner{
        // border: 1px solid #eee;
        height: 10vh;
        color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5vh;
        .engineIcon{
            width: 2.75vh;
            height: 2.75vh;
        }
        .engineText{
            margin-right: 1vh;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 2.5vh;
        }
        // display: flex;
    }
}

.border-orientation{
    box-shadow: 1px 1px 1px  #EEE;
    border: 2px solid #AAA;

}